[Unit]
Description=Frp Server Service
After=network.target
[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/frp/frps -c /usr/local/frp/frps.ini
PrivateTmp=true
[Install]
WantedBy=multi-user.target
