[Unit]
Description=filebeat
After=network.target
[Service]
User=develop2
Group=develop2
Type=forking
ExecStart=/usr/local/filebeat/filebeat -e -c /usr/local/filebeat/filebeat.yml
Restart=always
PrivateTmp=true
[Install]
WantedBy=multi-user.target
